<% layout("/layouts/boilerplate")  %>
    
<div class="row mt-3">
    <div class="col-8 offset-2" >
<h2>Edit a New listing</h2>
    <form action="/listings/<%= listing.id  %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" value="<%=listing.title %>" name="listing[title]" class="form-control" required>
            <div class="valid-feedback">Looking Good!</div>
            <div class="invalid-feedback">Please enter a valid title</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" cols="10" class="form-control" required  ><%=listing.description  %></textarea>
            <div class="valid-feedback">Looking Good!</div>
            <div class="invalid-feedback">Please enter a valid description</div>
        </div>
        
        
        <div class="mb-3">
              Original Listing Image <br>
              <img src="<%=originalImageUrl  %>" alt="prev_img">
        </div>   

        <div class="mb-3">
            <label for="image" class="form-label">Update Image</label>
            <input type="file"  name="listing[image]" class="form-control">
            <div class="valid-feedback">Looking Good!</div>
            <div class="invalid-feedback">Please enter a valid Image url</div>

        </div>        
        <div class="row">
            <div class="mb-3 col-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" value="<%=listing.price %>" name="listing[price]" class="form-control" required>
                <div class="valid-feedback">Looking Good!</div>
                <div class="invalid-feedback">Please enter a valid price</div>
            </div>
            <div class="mb-3 col-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" value="<%=listing.country %>" name="listing[country]" class="form-control" required>
                <div class="valid-feedback">Looking Good!</div>
                <div class="invalid-feedback">Please enter a valid country name</div>
    
            </div>
        </div>
       
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" value="<%=listing.location %>" name="listing[location]" class="form-control" required>
            <div class="valid-feedback">Looking Good!</div>
            <div class="invalid-feedback">Please enter a valid location</div>

        </div>
    
        <button class="btn btn-dark edit-btn mt-3">EDIT</button>
        <br><br>
    </form>
    </div>
    </div>
